{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Secret Santa Creation Authentication</title>
{% endblock title %}



{% block content %}
    <div class="container">
        <h1>Secret Santa Creation Authentication</h1>
        <p>Enter password to authenticate Secret Santa Creation for Room "{{ room.name }}"</p>

        <span style="display: block;height: 30px;"></span>

        <form action="" method="post">
            {% csrf_token %}
            {{ passwordform|crispy }}
            <input type="submit" value="Create Secret Santa" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}