{% extends 'base.html' %}


{% block head %}
    <title>Secret Santa Creation</title>
{% endblock head %}


{% block content %}
    <div class="container">
        <h1>Secret Santa Creation</h1>
        <p>Secret Santa Creation for Room "{{ room.name }}"</p>

        <table cellspacing="10">
            <thead>
                <th>Sender</th>
                <th>Reciever</th>
            </thead>
            {% for key,value in sendrec.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}    
        </table>

    </div>
{% endblock content %}